<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answers platform</title>
</head>
<body>
    <h1>
        Answers Platform by <%= name %>
    </h1>
    favorite language: <%= language %>
    <hr>
    <h3>
        Questions List
    </h3>
</body>
</html>